

.container{
    border: 2px ;
    width: 300px;
    height: 150px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    background-color:cadetblue;
    
}

.heading{
    text-align: center;
    color: white;
}

.timer{
    text-align: center;
    color: white;
}

.btns button{
    
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    margin-left: 60px;
    border-radius: 12px;
}

.startBtn{
   
    background-color: green;
}

.resetBtn{
    
    background-color: red;
}